<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<ul *ngIf="data.length > 0">
  <li *ngFor="let item of data" class="list-item">
    
    <span><strong>ID:</strong> {{ item.id }}</span>
    <span><strong>Name:</strong> {{ item.name }}</span>
    <span><strong>Email:</strong> {{ item.email }}</span>
    <span><strong>Phone:</strong> {{ item.phone }}</span>
    <span><strong>Interview Date:</strong> {{ item.interviewDateTime | date: 'medium' }}</span>
    <button (click)="onButtonClick(item)" >
        Action
      </button>
</li>
</ul>
<div *ngIf="data.length === 0 && !errorMessage">Loading data...</div>